<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/425408ad90.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>

    <div class="row">
        <div class="side">
            <h1>About</h1>
            <h3>About <span class="bolded">Brandeis University</span></h3>
            <p>There is no other place like Brandeis! <br>
                As a medium-sized private research university with global reach,
                we are dedicated to first-rate undergraduate education while making groundbreaking discoveries.
                <br>
                Our 235-acre campus is located in the suburbs of Boston, a global hub for higher education and
                innovation.
                <br>
                Our faculty are leaders in their fields, as passionate about teaching and mentorship as they are
                about pushing the boundaries of knowledge. Our students are motivated, compassionate, curious and
                open to exploring new and challenging experiences.
                <br>
                At Brandeis, you will discover a community rooted in purpose, guided by our founding values, poised
                to lead in education and research in the 21st century.
            </p>
        </div>
        <div class="main">
            <img src="/images/BrandeisCommunity.jpeg" alt="Brandeis Community">
        </div>
    </div>


    <!-- <section class="container">
        <div class="left">
            <article>
                <h1>About</h1>
                <h3>About <span class="bolded">Brandeis University</span></h3>
                <p>There is no other place like Brandeis! <br>
                    As a medium-sized private research university with global reach,
                    we are dedicated to first-rate undergraduate education while making groundbreaking discoveries.
                    <br>
                    Our 235-acre campus is located in the suburbs of Boston, a global hub for higher education and
                    innovation.
                    <br>
                    Our faculty are leaders in their fields, as passionate about teaching and mentorship as they are
                    about pushing the boundaries of knowledge. Our students are motivated, compassionate, curious and
                    open to exploring new and challenging experiences.
                    <br>
                    At Brandeis, you will discover a community rooted in purpose, guided by our founding values, poised
                    to lead in education and research in the 21st century.
                </p>
            </article>
        </div>
        <div class="right">
            <article id="right">
                <img src="/images/BrandeisCommunity.jpeg" alt="Brandeis Community">
            </article>
        </div>
    </section> -->
</body>

</html>