<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/425408ad90.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>

    <div class="row">
        <div class="side">
            <h1>Contact</h1>
            <h3>Contact Us at <span class="bolded">Brandeis University</span></h3>
            <p>Email: humanresources@brandeis.edu<br> Phone: 781-736-4474
            </p>
        </div>
        <div class="main">
            <img src="/images/BrandeisContact.jpeg" alt="Brandeis Contact">
        </div>
    </div>


    <!-- <section class="container">
        <div class="left">
            <article>

            </article>
        </div>
        <div class="right">
            <article id="right">
                
            </article>
        </div>
    </section> -->

</body>

</html>