<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/425408ad90.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <section class="container">
        <div class="left">
            <article>
                <h1>Events</h1>
                <a href="events/new">Create a New Event!</a>
                <h3>Upcoming Events at <span class="bolded">Brandeis University</span></h3>
                <p>Unfortunately, we do not have any upcoming events at the moment! Come back again!
                </p>
            </article>
        </div>
        <div class="right">
            <article id="right">
                <img src="/images/BrandeisEvents.jpeg" alt="Brandeis Events">
            </article>
        </div>
    </section>

</body>

</html>