<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="https://kit.fontawesome.com/425408ad90.js" crossorigin="anonymous"></script>
    <title>Home Page</title>
</head>

<body>
    <div class="row">
        <div class="side">
            <h1>We Are Proud</h1>
            <h3>Students & Alumni of <span class="bolded">Brandeis University</span></h3>
            <p>The Brandeis Student and Alumni Association is a vibrant
                comunity that offers lifelong opportunities for students
                and alumni to stay connected to Brandeis and each other.
            </p>
            <button><a class='seeMembersButton' href="/users">See Members!</a></button>
        </div>
        <div class="main">
            <img src="/images/BrandeisGraduation.jpeg" alt="Brandeis Graduation Photo">
        </div>
    </div>
    
    <!-- <section class="container">
        <div class="left">
            <article>
                <h1>We Are Proud</h1>
                <h3>Students & Alumni of <span class="bolded">Brandeis University</span></h3>
                <p>The Brandeis Student and Alumni Association is a vibrant
                    comunity that offers lifelong opportunities for students
                    and alumni to stay connected to Brandeis and each other.
                </p>
            </article>
            <button><a class='seeMembersButton' href="/users">See Members!</a></button>
        </div>
        <div class="right">
            <article id="right">
                <img src="/images/BrandeisGraduation.jpeg" alt="Brandeis Graduation Photo">
            </article>
        </div>
    </section> -->
</body>

</html>