<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/425408ad90.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>

    <section class="container">
        <div class="left">
            <article>
                <h1>Jobs</h1>
                <a href="jobs/new">Create a New Job!</a>
                <h3>Open Job Listings at <span class="bolded">Brandeis University</span></h3>

                <!-- HOW DO I INCLUDE THE JOBS HERE -->
                <!-- <p>
                    Faculty Positions: <br>
                    Staff Positions: <br>
                </p> -->
            </article>
        </div>
        <div class="right">
            <article id="right">
                <img src="/images/BrandeisJobs.jpeg" alt="Brandeis Jobs">
            </article>
        </div>
    </section>
</body>

</html>